<a href="{{ "/htb" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="color:white">HTB</h2></a>
<a href="{{ "/vulnhub" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="color:white">Vulnhub</h2></a>
<a href="{{ "/ctf" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="color:white">CTF</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="color:white">About</h2></a>
<a href="{{ "/donate" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link" style="color:white">Donate</h2></a>
